.container {
  display: inline-block;
  background: rgb(94,53,140);
  border-radius: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}

.text {
  color: white;
  margin: 0;
  font-family: "Fedra Mono Medium";
  font-weight: 100;
  font-size: 1.2rem;
}

.alternative {
  background: rgb(255, 253, 84);
}

.alternative .text {
  color: black;
}
