.container {
  display: inline-block;
  background: rgb(94,53,140);
  border-radius: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}

.container:hover {
  background: rgba(130, 62, 207);
  text-decoration: none;
}

.text {
  color: white;
  margin: 0;
}

.alternative {
  background: rgb(255, 255, 0);
}

.alternative:hover {
  background: rgba(255, 255, 0);
}

.alternative .text {
  color: black;
}
