.list {
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.titleChild {
  flex: 1 1 33%;
  margin: 0 0 1rem 0;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.text {
  padding: 0 0 0 2rem;
}
