.container {
  display: contents;
}

.card {
  grid-column: auto / span 6;
}

.titleWrapper {
  min-height: ;
}

.title {
  height: 3.2rem;
  margin: 0;
}

.subtitle {
  height: 2.4rem;
  color: rgb(255, 253, 84);
}

.image {
  height: 100%;
  margin: 0;
}
