.card {
  width: 100%;
}

.title {
  width: 20rem;
  margin: 0;
}

.subtitle {
  color: rgb(255, 253, 84);
}

.image {
  height: 100%;
  margin: 0;
}

.profilePic {
  width: 110px !important;
  height: 110px !important;
  float: right;
}

.blur {
	filter: blur(4px);
}
