.card {
  width: 100%;
}

.title {
  margin: 0;
}

.subtitle {
  color: rgb(255, 253, 84);
}

.profilePic {
  display: inline-block;
  float: right;
}

.text {
  display: inline;
}

.blur {
	filter: blur(4px);
}
