/* Page layout */
.page {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 6rem;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  width: 90rem;
}

.block {
  display: contents;
}

.container {
  display: flex;
}

/* Header */

.logo {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
}

.nav {
  display: flex;
  grid-column: 5 / span 20;
  justify-self: end;
}

.navItem {
  color: rgb(102,102,102);
  padding: 0 0 0 1rem;
}

/* Landing */
/* .blockLanding {
  grid-template-rows: repeat(2, 1fr);
} */

.headerImg {
  grid-column-start: 2;
  grid-column-end: 11;
}

.headerRight {
  grid-column-start: 11;
  grid-column-end: 25;

  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 2rem 0 0 0;
}

.detailBlock {
  background: white;
  display: block;
  margin: 1rem 0;
  padding: 1rem;
}

.detailText {
  color: black;
  margin: 0;
}

.landingText {
  grid-column-start: 5;
  grid-column-end: 19;
}

.title {
  color: rgb(255, 253, 84);
  font-size: 4rem;
}

.subtitle {
  color: rgb(102,102,102);
}
