.header {
  display: flex;
}

.headerImg {
  width: 60rem;
}

.headerRight {
  padding: 2rem;
}

.ctaBlock {
  background: rgb(94,53,140);
  border-radius: 1rem;
  padding: 1rem;
}

.ctaText {
  color: white;
  margin: 0;
}

.ctaSupportBlock {
  background: white;
  margin: 1rem 0;
  padding: 1rem;
}

.ctaSupportText {
  color: black;
  margin: 0;
}

.title {
  color: rgb(255, 253, 84);
  font-size: 4rem;
}

.subtitle {
  color: rgb(102,102,102);
}

.container {
  display: flex;
}
