/* Page layout */
.centerer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page {
  width: 90rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column-gap: 2rem;
  padding: 0 0 6rem 0;

  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-row-gap: 6rem;
}

.grid6 {
  grid-column: auto / span 6;
}

.grid24 {
  grid-column: 1 / span 24;
}

.container {
  display: flex;
}

/* Header */

.logo {
  grid-column: 1 / 5;
  margin: 0;
}

.nav {
  display: flex;
  padding-top: 1.5rem;
  grid-column: 5 / span 20;
  justify-self: end;
}

.navItem {
  color: rgb(102,102,102);
  padding: 0 0 0 1rem;
  letter-spacing: 1px;
}

/* Landing */

.headerImg {
  grid-column: 2 / 11;
}

.headerRight {
  grid-column: 11 / 25;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detailBlock {
  display: inline-block;
  background: white;
  transform: rotate(-1deg);
  margin: .6rem 0 .5rem .5rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
}

.detailText {
  color: black;
  margin: 0;
  font-family: "Fedra Mono Medium";
}

.landingText {
  grid-column: 4 / 20;
}

.landingText p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.title {
  color: rgb(255, 253, 84);
  font-size: 4rem;
}

.subtitle {
  color: rgb(102,102,102);
}

/* Location and costs */

.map {
  grid-column: 1 / span 12;
  height: 45rem;
  z-index: 1;
}


.location {
  background-color: rgb(244,244,244);
  position: relative;
  padding: 0 0 0 0;
}

.location::after {
  background-color: rgb(244,244,244);
  content: "";
  display: block;
  height: 45rem;
  left: 100%;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

/* Footer */

.costs {
  background-color: rgb(244,244,244);
  grid-column: 13 / span 12;
}

.costs p {
  color: black;
}

.footer {
  height: 25rem;
  background-color: rgb(244,244,244);
}

.affiliates {
  position: relative;
  background-color: rgb(220,220,220);
  height: 25rem;
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
}

.affiliates::before {
  background-color: rgb(220,220,220);
  content: "";
  display: block;
  height: 25rem;
  right: 100%;
  position: absolute;
  width: 100vw;
}

.affiliateLogo {
  grid-column: 1/ span 5;
  padding: 4rem 0;
}

.affiliateLogo:last-of-type {
  grid-column: span 5 / 12;
}

.footerInfo {
  position: relative;
  background-color: rgb(244,244,244);
  grid-column: 13 / span 12;
}

.footerInfo::after {
  background-color: rgb(244,244,244);
  content: "";
  display: block;
  height: 25rem;
  top: 0;
  left: 100%;
  position: absolute;
  width: 100vw;
}
