.container {
  background: rgba(102,102,102,0.6);
  border-radius: 2rem;
  position: fixed;
  left: 5vw;
  bottom: 5rem;
  padding: 1rem 1rem 1rem 2rem;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.container:hover {
  background: rgba(102,102,102,0.7);
}

@media screen and (min-width: 0em) and (max-width: 64em) {
  .container {
    display: none;
  }
}

.text {
  margin: 0;
}
