.container {
  display: flex;
}

.block {
  padding: 0 0 6rem 6rem;
}

.title {
  width: 20rem;
}

.subtitle {
  color: rgb(255, 253, 84);
  width: 20rem;
}

.text {
  column-count: 2;
  width: 60rem;
}

.image {
  height: 100%;
  margin: 0;
}
