.footer {
  height: 35rem;
  margin-bottom: 5rem;
  background-color: rgb(244, 244, 244);
}

.affiliates {
  position: relative;
  height: 35rem;
  background-color: rgb(220, 220, 220);
}

@supports (display:grid) {
  .affiliates {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    align-content: start;
  }
}

.affiliates::before {
  content: "";

  position: absolute;
  right: 100%;

  display: block;
  width: 100vw;
  height: 35rem;

  background-color: rgb(220, 220, 220);
}

.affiliatesHeader {
  margin: 2.8rem 0 0;
  color: rgb(118, 118, 118);
}

.affiliateLogo {
  width: 40%;
  padding: 1.4rem 0 0 0;
}

@supports (display:grid) {
  .affiliatesHeader {
    grid-column: 1 / span 12;
  }

  .affiliateLogo {
    width: unset;
    grid-column: auto / span 5;
    align-self: center;
  }

  .affiliateLogo:nth-of-type(3n) {
    grid-column: 7 / span 5;
  }
}

/* Rightside */

.footerInfo {
  background-color: rgb(244, 244, 244);
  padding: 2.8rem 0 0 2rem;
  position: relative;
}

@supports (display:grid) {
  .footerInfo {
    padding: 2.8rem 0 0 0;
  }
}

.footerInfo p {
  color: rgb(118, 118, 118);
}

.footerInfo a {
  color: rgb(118, 118, 118);
}

.footerInfo::after {
  background-color: rgb(244, 244, 244);
  content: "";
  display: block;
  height: 35rem;
  left: 100%;
  position: absolute;
  top: 0;
  width: 100vw;
}

@media screen and (min-width: 1em) and (max-width: 64em) {
  .affiliates {
    grid-column: 1 / span 25;
    padding: 0 2rem;
  }

  .footer {
    padding: 0 0 6rem 0;
  }

  .footerInfo {
    grid-column: 1 / span 25;
  }
}
