.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 4rem 2rem;
}

.logo {
  height: 10rem;
  margin: 0;
}

.logoText {
  margin: 0;
}

.nav {
  display: flex;
  grid-column: span 24 / 25;
  grid-row: 1;
}

.navItem {
  font-family: "Fedra Mono Medium", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
  letter-spacing: 1px;
  color: rgb(102, 102, 102);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0 0 1rem;
}

@media screen and (min-width: 1em) and (max-width: 40em) {
  .header {
    padding: 2rem 2rem 0rem 2rem;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .nav {
    display: none;
  }
}
