.headerImg {
  display: inline-block;
  max-width: 30rem;
  padding: 1rem 2rem;
  vertical-align: top;
  text-align: left;
}

.headerRight {
  display: inline-flex;
  max-width: 40rem;
  padding: 2.8rem 2.8rem 4.2rem 2.8rem;
  vertical-align: top;
  text-align: left;

  flex-direction: column;
  align-items: flex-start;
}

@supports (display:grid) {
  .headerImg {
    display: block;
    max-width: 100%;
    padding: 0;
    vertical-align: unset;
    text-align: unset;

    grid-column: 2 / 11;
  }

  .headerRight {
    display: flex;
    max-width: unset;
    padding: 2.8rem 1.4rem 1.4rem 0rem;
    vertical-align: unset;
    text-align: unset;

    grid-column: 12 / 25;
  }
}

/* Don't like this typographic disturbance. */
.title {
  color: rgb(255, 255, 0);
  font-size: 2.369rem;
  line-height: 3.5rem;
  max-width: 50rem;
}

.subtitle {
  color: rgb(102, 102, 102);
}

.crumb {
  display: inline-block;
  background: white;
  transform: rotate(-1deg);
  margin: 0.7rem 0 0 0.7rem;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.crumbText {
  transform: rotate(1deg);
  color: black;
  margin: 0;
  font-family: "Fedra Mono Medium", sans-serif;
  white-space: nowrap;
}

.landingText {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 1rem 2rem;

  max-width: 60rem;
}

@supports (display:grid) {
  .landingText {
    display: block;
    vertical-align: unset;
    text-align: unset;
    max-width: unset;
    padding: 1rem 0rem;

    grid-column: 4 / 20;
  }
}

.landingText p {
  font-size: 1.333rem;
  line-height: 2rem;
}

@media screen and (min-width: 1em) and (max-width: 64em) {
  .headerImg {
    display: none;
  }

  .headerRight {
    grid-column: 1 / 25;
  }

  .landingText {
    grid-column: 1 / 25;
  }
}
