.location {
  background-color: rgb(244, 244, 244);
  position: relative;
}

.location::before {
  background-color: rgb(244, 244, 244);
  content: "";
  display: block;
  height: 40rem;
  left: 100%;
  position: absolute;
  width: 100vw;
}

.map {
  position: relative;
  height: 40rem;
  padding: 0;
  z-index: 1;
}

.costs {
  padding: 0 2rem;

  background-color: rgb(244, 244, 244);
}

.costs p {
  color: rgb(118, 118, 118);
}

@supports (display:grid) {
  .location {
    padding: 0 2rem 0 2rem;
  }

  .map {
    margin: 0 0 0 -2rem;
  }

  .costs {
    padding: 0;
  }
}


@media screen and (min-width: 1em) and (max-width: 64em) {
  .location {
    padding: 0 0 6rem 0;
  }

  .map {
    margin: 0;
    grid-column: 1 / span 25;
  }

  .costs {
    grid-column: 1 / span 25;
    padding: 0 2rem 0 2rem;
  }
}
