html {
  font-size: 11px;
}

body {
  background: rgb(209,189,165);
}

.main {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.backgroundImg {
  position: absolute;
  width: 70%;
  left: -37vw;
  top: -50vh;
  z-index: -1;
}

.backgroundImgTwo {
  position: absolute;
  width: 70%;  
  left: 50vw;
  top: 50vh;
  z-index: -1;
}
