@font-face {
	font-family: "Fedra Serif A Book";
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.svg#typotheque_webfonts_service") format("svg");
}

@font-face {
  font-family: "Fedra Mono Medium";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.svg#typotheque_webfonts_service") format("svg");
}

html {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	font-family: "Fedra Mono Medium", sans-serif;
	font-weight: 100;
	margin-bottom: 1.4rem;
}

h1, q {
	font-size: 1.777rem;
	line-height: 2.8rem;
}

h2 {
	font-size: 1.333rem;
	line-height: 1.4rem;
}

h3 {
	font-size: 1rem;
	line-height: 1.4rem;
	color: rgb(255, 255, 0);
	text-transform: uppercase;
}

p, li {
	font-size: 1rem;
	line-height: 1.4rem;
	margin-bottom: 1.4rem;

	color: white;
	font-weight: 100;
	font-family: "Fedra Serif A Book", sans-serif;
}

a {
	text-decoration: underline;
	cursor: pointer;
	color: white;

}

a:hover {
	text-decoration: underline;
	color: rgb(102,102,102);
}

q {
	font-family: "Fedra Serif A Book", sans-serif;
	font-size: 1.777rem;
	line-height: 2.8rem;
	font-weight: 100;
	color: white;
}
