@font-face {
	font-family: "Fedra Serif A Book";
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000003-88dde5149a3a46af6819063a9260c1ac.svg#typotheque_webfonts_service") format("svg");
}

@font-face {
  font-family: "Fedra Mono Medium";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-031221-010286-000064-be8bfee213f84bde3a73ed8266427105.svg#typotheque_webfonts_service") format("svg");
}

/*

+.landingText p {
+  font-size: 1.8rem;
+  line-height: 2.8rem;
 }
*/

h1, h2, h3, h4, h5, h6 {
	color: white;
	font-family: "Fedra Mono Medium";
	font-weight: 100;
	margin-bottom: 1rem;
}

h1 {
	font-size: 4rem;
	line-height: 4.5rem;
}

h2 {
	font-size: 1.6rem;
	line-height: 1.6rem;
}

h3 {
	font-size: 1.2rem;
	line-height: 2.1rem;

	color: rgb(255, 253, 84);
	text-transform: uppercase;
}

p, li {
	font-size: 1.25rem;
	line-height: 1.95rem;

	color: white;
	font-weight: 100;
	font-family: "Fedra Serif A Book";
}
